@import '~bootstrap/scss/bootstrap';
#message {
  font-family: fantasy;
  color: darkgreen;
  text-align: center;
}
#breeds-display {
  font-family: fantasy;
  color: darkgreen;
  text-align: center;
}
img {
  border: 1px solid #ddd;
  border-radius: 15%;
  padding: 5px;
  width: 450px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: tan;
}

h1 {
  font-family: fantasy;
  color: black;
  text-align: center;
}

h2 {
  font-family: fantasy;
  color: black;

}

.button{
  font-family: fantasy;
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
.button:hover {background-color: blue}

.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#sign-up {
  font-family: fantasy;
  text-align: center;
}

#sign-in {
  font-family: fantasy;
  text-align: center;
}

#change-password {
  font-family: fantasy;
  text-align: right;
}

#sign-out {
  font-family: fantasy;
  text-align: right;
}
.Signout:hover {background-color: blue}

.Signout:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#breeds-create {
  font-family: fantasy;
  text-align: center;
}

#breeds-update {
  font-family: fantasy;
  text-align: center;
}

#breeds-index {
  font-family: fantasy;
  text-align: center;
}

#breeds-destroy {
  font-family: fantasy;
  text-align: center;
}
